*.suo
*.user
.vs
[Dd]ebug/
x64/
build/
[Bb]in/
[Oo]bj/
*.pdb
*.log
*.dbmdl
*.jfm
/UpgradeLog.htm
~*.xlsx
*.map

*.Global*.json
/.editorconfig
/Settings.DotSettings
/.idea
/OzonSeller.Core/appsettings.Development.json
/OzonSeller.Store/Migrations
/OzonSeller.Store.Site/.vscode
